<!-- Not used because-->
<!-- Because the App has to run without web server inline templates are used -->
<div ng-controller="seaLevelsController" class="sea-levels" ng-class="{'open': city.active}">
	<div class="sea-levels-title">
		<span>Sea levels in <strong>{{city.name}}</strong> at 9:00 &nbsp;(hPa)</span>
		<span ng-click="hideSeaLevels()"><i class="fa fa-close" aria-hidden="true"></i></span>
	</div>
	<div class="sea-levels-labels">
		<ul>
			<li ng-repeat="day in labels track by $index">
				<span class="sea-levels-labels-day" ng-bind="day"></span>
				<span class="sea-levels-labels-value" ng-bind="data[$index]"></span>
			</li>
		</ul>
	</div>
	<div class="sea-levels-chart">
		<canvas id="line" class="chart chart-line" chart-data="data"
		chart-labels="labels" chart-series="series" chart-options="options"
		chart-dataset-override="datasetOverride" chart-colors="colors">
	</div>
	</canvas
</div>