<!-- Not used because-->
<!-- Because the App has to run without web server inline templates are used -->
<div ng-controller="cityController" class="city-card">
	<div ng-click="showSeaLevel()">
		<div class="city-temp">
			<span ng-bind="city.temp"></span>
			<span>&deg;</span>
			<span>C</span>
		</div>
		<div class="city-weather-icon">
			<i class="wi owm-{{ city.weather.icon }}"></i>
		</div>
		<div class="city-name">
			<h5 ng-bind="city.name"></h5>
		</div>
		<div class="city-weather-description">
			<span ng-bind="city.weather.description"></span>
		</div>
		<div class="city-sunrise-time">
			<span>Sunrise</span>
			<span>{{ city.sunrise | date:'HH:mm'}}</span>
		</div>
		<div class="city-sunset-time">
			<span>Sunset</span>
			<span>{{ city.sunset | date:'HH:mm'}}</span>
		</div>
	</div>
	<sea-levels city="city"></sea-levels>
</div>