<!DOCTYPE html>
<html lang="en-US" ng-app="bweather">

	<head>
		<title>BWeather - App</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
		<link rel="stylesheet" href="assets/dist/css/main.min.css">
	</head>

	<body>

		<div class="main-content">
		  <datetime></datetime>
		  <list-cities></list-cities>
		  <div class="backbase">Made with <i class="fa fa-heart" style="color: #e74c3c;" aria-hidden="true"></i> for Backbase</div>
		</div>

		<!-- Libraries -->
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/underscore/underscore-min.js"></script>
		<script src="node_modules/chart.js/dist/Chart.min.js"></script>
		<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

		<!-- App -->
		<script src="app/app.module.js"></script>

		<!-- Services -->
		<script src="app/services/openWeatherMap.service.js"></script>

		<!-- Component Cities -->
		<script src="app/components/cities/cities.controller.js"></script>
		<script src="app/components/cities/cities.directive.js"></script>

		<!-- Component City -->
		<script src="app/components/city/city.controller.js"></script>
		<script src="app/components/city/city.directive.js"></script>

		<!-- Component Sea Levels -->
		<script src="app/components/sea-levels/sea-levels.controller.js"></script>
		<script src="app/components/sea-levels/sea-levels.directive.js"></script>

		<!-- Component datetime -->
		<script src="app/components/datetime/datetime.controller.js"></script>
		<script src="app/components/datetime/datetime.directive.js"></script>


		<!-- Because of file:// protocol we are using inline templates -->
		<script type="text/ng-template" id="cities.view.html">
			<div ng-controller="citiesController" class="list-cities">
				<city-card ng-repeat="city in cities track by $index" city="city"></city-card>
			<div>
		</script>

		<script type="text/ng-template" id="city.view.html">
			<div ng-controller="cityController" class="city-card">
				<div ng-click="showSeaLevel()">
					<div class="city-temp">
						<span ng-bind="city.temp"></span>
						<span>&deg;</span>
						<span>C</span>
					</div>
					<div class="city-weather-icon">
						<i class="wi owm-{{ city.weather.icon }}"></i>
					</div>
					<div class="city-name">
						<h5 ng-bind="city.name"></h5>
					</div>
					<div class="city-weather-description">
						<span ng-bind="city.weather.description"></span>
					</div>
					<div class="city-sunrise-time">
						<span>Sunrise</span>
						<span>{{ city.sunrise | date:'HH:mm'}}</span>
					</div>
					<div class="city-sunset-time">
						<span>Sunset</span>
						<span>{{ city.sunset | date:'HH:mm'}}</span>
					</div>
				</div>
				<sea-levels city="city"></sea-levels>
			</div>
		</script>


		<script type="text/ng-template" id="sea-levels.view.html">
			<div ng-controller="seaLevelsController" class="sea-levels" ng-class="{'open': city.active}">
				<div class="sea-levels-title">
					<span>Sea levels in <strong>{{city.name}}</strong> at 9:00 &nbsp;(hPa)</span>
					<span ng-click="hideSeaLevels()"><i class="fa fa-close" aria-hidden="true"></i></span>
				</div>
				<div class="sea-levels-labels">
					<ul>
						<li ng-repeat="day in labels track by $index">
							<span class="sea-levels-labels-day" ng-bind="day"></span>
							<span class="sea-levels-labels-value" ng-bind="data[$index]"></span>
						</li>
					</ul>
				</div>
				<div class="sea-levels-chart">
					<canvas id="line" class="chart chart-line" chart-data="data"
					chart-labels="labels" chart-series="series" chart-options="options"
					chart-dataset-override="datasetOverride" chart-colors="colors">
				</div>
				</canvas
			</div>
		</script>


		<script type="text/ng-template" id="datetime.view.html">
			<div ng-controller="datetimeController" class="datetime">
				<div class="datetime-time">{{ clock | date:'HH:mm:ss'}}</div>
				<div class="datetime-date">{{ clock | date:'longDate'}}</div>
			</div>
		</script>
	</body>
</html>