@import 'icons/weather-icons.scss';

@import 'vendor/reset.scss';
@import 'vendor/mixins.scss';
@import 'vendor/font-awesome/font-awesome.scss';

@import 'components/page.scss';
@import 'components/datetime.scss';
@import 'components/cities.scss';
@import 'components/city.scss';
@import 'components/sea-levels.scss';

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}