list-cities {
	z-index: 1;
	position: relative;
	.list-cities {
		padding-top: 4%;
		max-width: 1200px;
		text-align: center;
		margin: auto;
	}
	.nav-cities {
		position: fixed;
		bottom: 5%;
		width: 100%;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 10px;
			.nav-city-weather-name {
				font-size: 1.2em;
				font-weight: 300;
				padding: 5px;
			}
		}
	}
}