city-card {
	width: 380px;
	height: 260px;
	display: inline-block;
	margin: 10px;
	background-color: #50a8c6;
	color: #FFF;
	text-align: left;
	border-radius: 5%;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	@include transition(background-color .5s);

	&:hover {
		background-color: #2392b7;
	}
	.city-card {
		padding: 20px;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		.city-name {
			font-weight: 300;
			font-size: 2em;
			margin: 10px 0;
		}
		.city-weather-icon {
			font-size: 5em;
		}
		.city-temp {
			float: right;
			font-size: 3.2em;
			font-weight: 100;
		}
		.city-weather-description {
			font-size: 1.2em;
			font-weight: 300;
			text-transform: capitalize;
			margin-bottom: 10px;
		}
		.city-sunrise-time span:first-child, .city-sunset-time span:first-child {
			display: inline-block;
			width: 80px;
			margin-top: 5px;
		}
	}
}
