datetime {
	display:block;
	position: relative;
	z-index: 1;
	text-align: center;
	color: #2392b7;

	.datetime {
		.datetime-time {
			font-weight: 100;
			font-size: 5em;
			padding: 4% 0 10px 0;
		}
		.datetime-date {
			font-weight: 100;
			font-size: 2em;
			margin: 5px;
		}
	}	
}
