.main-content {
	width: 100%;
	min-height: 100%;
	background: #e0eff6;
	color: #2392b7;
	position: relative;
	padding-bottom: 50px;
	box-sizing: border-box;

	&:before {
		content: '';
		display: block;
		width: 2000px;
		height: 1000px;
		position: fixed;
		background-color: rgba(255, 255, 255, 0.3);
		transform: rotate(-45deg);
		left: -850px;
		top: -500px;
	}

	.backbase {
		font-size: 1em;
		font-weight: 100;
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 20px 0;
		letter-spacing: 3px;
		text-align: center;
	}
}
