sea-levels {
	.sea-levels {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		padding: 10px;
		box-sizing: border-box;
		background-color: #34495e;
		@include transition(transform .5s);
		@include transform(translateY(100%));

		&.open {
			@include transform(translateY(0%));
		}

		.sea-levels-title {
			padding: 8px;
			span {
				font-size: 0.9em;
				font-weight: 300;
				strong {
					font-weight: 400;
					margin-right: 5px;
				}
				&:last-child {
					float: right;
				}
			}
		}

		.sea-levels-labels {
			ul {
				margin-top: 5px;
				margin-left: -10px;
				margin-right: -10px;
				li {
					display: inline-block;
					width: 20%;
					text-align: center;
					span {
						display: block;
						font-size: 0.75em;
						font-weight: 300;
						margin: 3px 0;
					}
					.sea-levels-labels-day {

					}
					.sea-levels-labels-value {
						font-weight: 400;
					}
				}
			}
		}

		.sea-levels-chart {
			position: absolute;
			height: 180px;
			bottom: 0px;
			left: 0;
			right: 0;
		}
	}

}
