<!-- Not used because-->
<!-- Because the App has to run without web server inline templates are used -->
<div ng-controller="datetimeController" class="datetime">
	<div class="datetime-time">{{ clock | date:'HH:mm:ss'}}</div>
	<div class="datetime-date">{{ clock | date:'longDate'}}</div>
</div>