<!-- Not used because-->
<!-- Because the App has to run without web server inline templates are used -->
<div ng-controller="citiesController" class="list-cities">
	<city-card ng-repeat="city in cities track by $index" city="city"></city-card>
<div>